.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CryptoList {
  /* border: 1px solid red ; */
  margin-top: 20px;
  height: 180px;
  width: 500px;
  height: 450px;
  overflow-X: 'auto';
}

.crypto {
  /* display: inline-block;
  border: 1px solid black ;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  background-color: rgb(78, 27, 18);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
}

.Account-logo {
  float: right;
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

.Root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  align-content: center;
}

.AllCryptos {
  display: flex;
  justify-content: center;
}
